body
{
    background-color:#7f5a83;
    background-image:linear-gradient(315deg,#7f5a83 0%, #0d324d 74%);
    font-family:monospace;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow:hidden;
}

.top{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
}
.perspective {
    width: 100%;
    perspective:1000px;
}

.card{
    width:270px;
    height:413px;
    margin:auto;
    box-shadow:0 70px 63px -60px #494848;
    transform-style:preserve-3d;
    transition: transform 0.05s linear  ;
}
.card .thumb{
    background-size:cover;
    height:100%;
    width:100%;
    border-radius:15px;
}
.card .thumb:after{
    background:inherit;
    content:"";
    display:block;
    position:absolute;
    left:-60px;
    top:40px;
    width:100%;
    height:100%;
    z-index:-1;
    filter:blur(55px);
}
.card h2{
    position:absolute;
    top:10px;
    left:-80px;
    font-size:35px;
    font-weight:100;
    transform:translateZ(80px);
}
.card span{
    position:absolute;
    bottom:40px;
    right:-280px;
    font-size:37px;
    font-weight:200;
    transform:translateZ(35px);

}
img{
    margin:auto;
}